*{
    margin: 0;
    padding: 0;
}
nav.navbar-expand-xxl{
    background-color: black;
    height: 90px;
    border-bottom: 10px solid rgba(214, 214, 9, 0.865);
}
img.nav-image{
    width: 80px;
    height: 85px;
    border-radius: 15%;
}
nav.navbar-expand-xxl button.justify-self-end p{
    color: white;
    font-size: 1.3rem;
}
div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5{
    color: rgba(214, 214, 9, 0.865);
    width: 100%;
}
div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5 ul li{
    list-style: none;
    padding-top: 18px;
}
div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5 ul li a{
   text-decoration: none;
   color: whitesmoke;
}
div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5 button.btn{
   display:none;
 }
div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5 ul li a:hover{
    text-decoration: none;
   color: rgba(214, 214, 9, 0.865);
 }
a.me-3{
    color: white;
    text-decoration: none;
}
header div.icods ul li a{
    color: white;
}
header div.icods ul li a:hover{
    color: rgba(214, 214, 9, 0.865);
}
div.second{
    margin-top: 20px;
    margin-bottom: 20px;
}
a.link{
    color: whitesmoke;
}
a.link:hover{
    color: rgba(214, 214, 9, 0.865);
}
div.links{
    background-color: rgba(255,255,255,0.2);
    margin-top: 10px;
}
div.links:hover{
    background-color: rgba(0,0,0,0.2);
    margin-top: 10px;
    color:rgba(214, 214, 9, 0.865);
}
div.imagesDiv{
    background-color: black;
    min-height: 65vh;
}
div.imagesDiv div.imageRow{
    min-height: 65vh;
    margin: 0 3px 0 3px;
}
div.imagesDiv div.imageRow a{
    text-decoration: none;
    color: white;
}
div.rgb{
    background-color: transparent;
}
div.rgb:hover{
    background-color: rgba(0,0,0,0.4);
}
div.colOne{
    background-image: url("../images/size0\ \(5\).jpg");
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
}
div.colOne div.rgb{
    height: 65vh;
}
div.colTwo{
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}
div.colTwo div.rgb{
    height: 40vh;
}
div.colThree{
    height: 21vh;
    background-size: cover;
    background-repeat: no-repeat;
}
div.colThree div.rgb{
    height: 21vh;
}
div.colOne div.rgb{
    height: 65vh;
}
div.better div.img1{
    background-image: url("../images/sddefault.jpg");
}
div.better div.img2{
    background-image: url("../images/artilery.jpg");
}
div.best div.img1{
    background-image: url("../images/size0\ \(1\).jpg");
}
div.best div.img2{
    background-image: url("../images/size0\ \(2\).jpg");
}
div.best div.img3{
    background-image: url("../images/size0\ \(3\).jpg");
}
div.centered p a{
    text-decoration: none;
    color: whitesmoke;
}
div.centered p a strong{
  color: rgba(214, 214, 9, 0.865);
}
div.centered p a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

main{
    background-image: url("../images/army_seal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10vh;
}
main div.rgba{
    background-color: rgba(255, 255, 255, 0.7);
}
div.profile div.mb-2{
    padding-left: 1rem;
}
ul.nav-tabs{
    width: fit-content;
}
footer li{
    list-style: none;
}
footer{
    background-color: rgba(0,0,0,0.1);
}
div.pagedivs div.row div.mb-2 b, div.profile div.row div.mb-4 b{
    color: rgb(87, 78, 58);
}
div.pagedivs h4.pb-2{
    color: rgb(87, 78, 58);
}
table.table th{
    color: rgb(87, 78, 58);
    font-size: medium;
}
li.nav-item a.nav-link{
    width: fit-content;
}
footer{
    background-color: black;;
}
footer div.icods ul li a:hover{
    color: rgba(214, 214, 9, 0.865);
}
footer div.itexts ul li a, footer div.icods ul li a{
   color:white;
}
footer div.itexts ul li a:hover{
    color: white;
    text-decoration: underline;
}
@media screen and (max-width: 1000px){
    nav.navbar button.justify-self-end p b{
       display: none;
    }
    div.navbar-collapse div.firstDiv div.col-md-4 div.ps-5 button.btn{
        display:inline-flex;
        justify-self: flex-end;
        color: rgb(68, 66, 66);
      }
      div.second{
        margin-top: 0;
        margin-bottom: 20px;
    }
}